<dx-button class="back-button" text="Back to States" width="120" (click)="backToStates()" [visible]="showBackButton"></dx-button>
<dx-button class="center-button" text="Center Map" width="120" (click)="centerMap()" [disabled]="isMapCentered" ></dx-button>
<dx-vector-map class="map" [bounds]="bounds" [tooltip]="tooltip"
    (onClick)="mapClick($event)" (onInitialized)="initialized($event)" (onCenterChanged)="centerChanged($event)">
    <dxo-control-bar [enabled]="false"></dxo-control-bar>
    <dxo-size [height]="420"></dxo-size>
    <dxo-title [text]="title" [subtitle]="subtitle"></dxo-title>
    <dxo-background borderColor="#fff"></dxo-background>

    <dxi-layer
        [dataSource]="dataSource"
        [opacity]="usaLayerOpacity"
        type="area"
        [colorGroupingField]="'democracy2012'"
        [colorGroups]="[0, 0.5, 1]"
        [palette]="[ '#228189', '#E4E7E9' ]">
    </dxi-layer>
    <dxi-layer
        [dataSource]="countyDataSource"
        type="area"
        [colorGroupingField]="'democracy2012'"
        [colorGroups]="[0, 0.5, 1]"
        [palette]="[ '#228189', '#E4E7E9' ]">
    </dxi-layer>
</dx-vector-map>
